params {
    READ_LENGTH=15
    SRA_TOOLKIT_DIR="/sratoolkit.2.8.0-ubuntu64/bin"
    SEQPURGE="/ngs-bits/bin/SeqPurge"
    cache="" 
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.penv = 'multislot'
    }
}

docker.runOptions = " -v ${params.cache}:/root/ncbi:rw  "
